# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# localhost settings
BLOCKCHAIN_LOCALHOST_PRIVATE_KEY=
BLOCKCHAIN_LOCALHOST_MYSTERY_CHEST_ADDRESS=
BLOCKCHAIN_LOCALHOST_TOKEN_ADDRESS=
BLOCKCHAIN_LOCALHOST_MULTISIG_ADDRESS=
BLOCKCHAIN_LOCALHOST_TOKEN_SALE_ADDRESS=

# bsc testnet settings
BLOCKCHAIN_TESTNET_PRIVATE_KEY=
BLOCKCHAIN_TESTNET_MYSTERY_CHEST_ADDRESS=0x028dA691A4d13E83dfbf42b94103bB21CA33aB84
BLOCKCHAIN_TESTNET_TOKEN_ADDRESS=0x1f2EF540b840358f56Fe46984777917CEDC43eD7
BLOCKCHAIN_TESTNET_MULTISIG_ADDRESS=
BLOCKCHAIN_TESTNET_PRIVATE_SALE_ADDRESS=0x0eF9CEcd2e467c71f3fcB36940069c9EbE1F6488
BLOCKCHAIN_TESTNET_PRE_SALE_ADDRESS=0x0eF9CEcd2e467c71f3fcB36940069c9EbE1F6488

# bsc mainnet settings
BLOCKCHAIN_MAINNET_PRIVATE_KEY=
BLOCKCHAIN_MAINNET_MYSTERY_CHEST_ADDRESS=0x1f2EF540b840358f56Fe46984777917CEDC43eD7
BLOCKCHAIN_MAINNET_TOKEN_ADDRESS=
BLOCKCHAIN_MAINNET_MULTISIG_ADDRESS=
BLOCKCHAIN_MAINNET_PRIVATE_SALE_ADDRESS=
BLOCKCHAIN_MAINNET_PRE_SALE_ADDRESS=